body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 10%);
}

.container {
    background-color: hsl(0, 0%, 15%);
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
           
}
#display{
    width: 95%;
    border: none;
    padding: 10px ;
    text-align: right;
    background-color: rgb(135, 27, 27);
    font-size: 2.3rem;
    height: 70px;
    color:rgb(255, 255, 255);
    background-color: hsl(0, 0%, 20%);
}

.button-container {
    grid-template-columns: repeat(4,1fr);
    display: grid;
    gap: 10px;
    padding: 25px;  
}
        
.b1{
    font-size: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    color:white;
    background-color:hsl(0, 0%, 30%);
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.yb {
    background-color:rgb(254, 160, 10);;
}
           
.clear{
    font-size: 18px;
}

.b1:hover {
    background-color:hsl(0, 0%, 40%);

}
.yb:hover{
     background-color:hsl(37, 99%, 62%);
}

.b1:active {
    transform: scale(0.95);
    background-color:hsl(0, 0%, 40%);
}

.yb:active {
     transform: scale(0.95);
     background-color:hsl(37, 99%, 62%);
}

